*.xcf
*.psd
*.pdn
*.zip

Test Decks/~$Test Deck Archetypes.xlsx

Reference Images/*
Custom Cards/*/*/Images/Basis Art/*
Custom Cards/*/*/Images/Reference Art/*

Templates/Private Art Templates/*
!Templates/Art Templates/*